.title {
    background-color: #212121;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
}

.tablink {
    background-color: #212121;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #080808;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

.top-button {
    background-color: #337ab7;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: right;
    margin-top: 6px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    vertical-align: middle;
}