<h1 class="title">
	{{title}}
</h1>

<div class="search-bar-container">
	<search-bar class="search-bar" (onSearch)="search($event)"></search-bar>
</div>

<div>
	<div class="col-sm-2 search-terms-container">
		<!-- <div class="term-title">Search Terms</div> -->
		<ul style="padding: 0;">
			<li *ngFor="let item of searchItems" (click)="onSearchItem(item)" class="node-item">
				<div class="item-content">
					<div style="float: left;" *ngIf="item.isLoaded"><span class="fa fa-circle-o"></span></div>
					<div class="find-term">{{item.value}}</div>
				</div>
				<div class="close" *ngIf="item.isLoaded" (click)="onClosePane($event, item)"><span class="fa fa-close"></span></div>
				<div class="arrow" [class.active]="item.value == activeItem"></div>
			</li>
		</ul>
	</div>

	<div class="col-sm-10" style="padding: 0;">
		<tabs class="container">
			<tab [tabTitle]="'Graph'">
				<graph-view *ngIf="isLoaded" style="height: 100%;" [edges]="edges" [nodes]="nodes"></graph-view>
			</tab>

			<tab [tabTitle]="'Tabular'">
				<tabular-view (change)="onChangeTabular($event)" *ngIf="isLoaded" style="height: 100%;" [nodes]="nodes"></tabular-view>
			</tab>

			<tab [tabTitle]="'Relationships'">
				<relationship-view (change)="onChangeRelationship($event)" *ngIf="isLoaded" style="height: 100%;" [nodes]="nodes" [edges]="edges"></relationship-view>
			</tab>
		</tabs>
	</div>
</div>

<ng2-toasty [position]="'bottom-center'"></ng2-toasty>