<div style="background: #212121; display: inline-block; width: 100%">
	<div>
		<button class="title">DHRUV</button>
		<button class="tablink" (click)="tabClicked(1)">Search</button>
		<button class="tablink" (click)="tabClicked(2)">Create</button>
		<button class="tablink" (click)="tabClicked(3)">Ingest</button>
		<button class="tablink" (click)="tabClicked(4)">Stat</button>
		
		<button class="top-button" (click)="viewJsonClicked()">View JSON</button>
		<button class="top-button" (clicK)="saveClicked()">Save</button>
	</div>
</div>
<div>
	<app-search *ngIf="selectedTabIndex==1"></app-search>
</div>
<div style="height: 100%">
	<app-create *ngIf="selectedTabIndex==2" [visibleJSON]="visibleJSON" (closeJSONDlg)="closeJSONDlg($event)"></app-create>
</div>